.hk-icon {
    background-position: center left !important;
    padding-left: 20px;
    display: inline-block;
    line-height: 25px;
    vertical-align: middle;
    vertical-align: middle;
    font-size: 12px;
}
.hk-icon.center{
    background-position: center center !important;
}

.hk-icon-add {
    background: url('../images/icon/add.gif') no-repeat center center;
}

.hk-icon-del {
    background: url('../images/icon/del.gif') no-repeat center center;
}

.hk-icon-download {
    background: url('../images/icon/download.png') no-repeat center center;
}

.hk-icon-edit {
    background: url('../images/icon/edit.png') no-repeat center center;
}

.hk-icon-improt {
    background: url('../images/icon/improt.png') no-repeat center center;
}

.hk-icon-logs {
    background: url('../images/icon/logs.png') no-repeat center center;
}

.hk-icon-preview {
    background: url('../images/icon/preview.png') no-repeat center center;
}

.hk-icon-refresh {
    background: url('../images/icon/refresh.png') no-repeat center center;
}

.hk-icon-reset {
    background: url('../images/icon/reset.png') no-repeat center center;
}

.hk-icon-serach {
    background: url('../images/icon/search.png') no-repeat center center;
}

.hk-icon-submit {
    background: url('../images/icon/submit.png') no-repeat center center;
}

.hk-icon-unsure {
    background: url('../images/icon/unsure.png') no-repeat center center;
    background-size: 16px;
}

.hk-icon-ok {
    background: url('../images/icon/ok.png') no-repeat center center;
    background-size: 16px;
}

.hk-icon-close {
    background: url('../images/icon/close.png') no-repeat center center;
    background-size: 16px;
}
.hk-icon-open {
    background: url('../images/icon/open.png') no-repeat center center;
    background-size: 16px;
}
/*MENU-ICON*/

.hk-menu-blacklist {
    background: url('../images/icon/menu_blacklist.png') no-repeat center center;
}

.hk-menu-graylist {
    background: url('../images/icon/menu_graylist.png') no-repeat center center;
}

.hk-menu-search {
    background: url('../images/icon/menu_search.png') no-repeat center center;
}

.hk-menu-task {
    background: url('../images/icon/menu_task.png') no-repeat center center;
}

.hk-menu-vip {
    background: url('../images/icon/menu_vip.png') no-repeat center center;
}

.hk-menu-addTrust {
    background: url('../images/icon/menu_addTrust.png') no-repeat center center;
}

.hk-menu-whitelist {
    background: url('../images/icon/whitelist.png') no-repeat center center;
}


/*��ť*/
/*---------------�Զ��尴ť----------------*/
.hk-btn {
    padding: 2px 4px 2px 22px;
    height: 21px;
    line-height: 15px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #D4D4D4;
    border-radius: 4px;
    opacity: 1;
    background-color: transparent !important;
}

.hk-btn:hover {
    border-color: #bdbdbd;
}

.hk-btn[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}

.hk-btn[disabled]:hover {
    border-color: #D4D4D4;
}

.hk-btn.center {
    background-position: center center !important;
}

.hk-btn.left {
    background-position: 2px center !important;
}

.hk-btn.integrate {
    border: 0;
}

.hk-btn.integrate:hover {
    border: 1px solid #bdbdbd;
    background-color: #c0c0c0;
}

.hk-btn.integrate[disabled]:hover {
    border: 0;
}

.hk-btn.refresh {
    background: url('../images/icon/refresh1.png') no-repeat 3px 2px;
    background-size: 16px 16px;
}

.hk-btn.see {
    background: url('../images/icon/preview.png') no-repeat 3px 2px;
}

.hk-btn.search {
    background: url('../images/icon/search.png') no-repeat 3px 2px;
}

.hk-btn.add {
    background: url('../images/icon/add.gif') no-repeat 3px 2px;
}

.hk-btn.reset {
    background: url('../images/icon/reset.png') no-repeat 3px 2px;
}

.hk-btn.edit {
    background: url('../images/icon/edit.png') no-repeat 3px 0px;
}

.hk-btn.preview {
    background: url('../images/icon/preview.png') no-repeat 3px 3px;
}

.hk-btn.submit {
    background: url('../images/icon/submit.png') no-repeat 3px 1px;
}

/*��չmessager��ͼ��*/
.messager-OK {
    background: url('../images/icon/messager_ok.png') no-repeat scroll 0 0;
    position: relative;
    top: -6px;
}

.hk-modalWait {
    background: #fff url('../images/icon/loading.gif') no-repeat 5px center
}

.gridCellBtn {
    display: inline-block;
    border: 1px solid #4adb7c;
    color: #4adb7c;
    padding: 0px 18px;
    border-radius: 20px 20px;
    margin: 1px auto;
    text-decoration: none;
    font-size: 13px;
    line-height: 20px;
    height: 20px;
    cursor: pointer;
}
/*hehheh*/