html, body {
    font-family:"宋体 Regular", "宋体";
    padding: 0px;
    margin: 0px;
    height: 100%;
}

/*�ı�������ʽ*/
.text-overflow {
    display: block; /*�����������*/
    word-break: keep-all; /* ������ */
    white-space: nowrap; /* ������ */
    overflow: hidden; /* ���ݳ������ʱ���س������ֵ����� */
    text-overflow: ellipsis; /* ���������ı����ʱ��ʾʡ�Ա��(...) ������overflow:hidden;һ��ʹ�á�*/
}
.gridCellBtn {
    display: inline-block;
    border: 1px solid #4adb7c;
    color: #4adb7c;
    padding: 0px 18px;
    border-radius: 20px 20px;
    box-sizing: border-box;
    margin: 1px auto;
    text-decoration: none;
    font-size: 13px;
    line-height: 20px;
    height: 22px;
    cursor: pointer;
}
.gridCellBtn:hover{
    color: #4adb7c;
}
.gridCellBtn--error{
    border-color:#F78785;
    color: #F78785;
}
.gridCellBtn--error:hover{
    color: #F78785;
}

.text-overflow {
    display: block; /*内联对象需加*/
    word-break: keep-all; /* 不换行 */
    white-space: nowrap; /* 不换行 */
    overflow: hidden; /* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow: ellipsis; /* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
}

/* 验证时变色 */
.validate {
    transition: border-color 2s;
    -moz-transition: border-color 2s; /* Firefox 4 */
    -webkit-transition: border-color 2s; /* Safari and Chrome */
    -o-transition: border-color 2s; /* Opera */
}

/*加强*/
.stress {
    font-weight: 400;
    color: red;
    font-size: 12px;
    line-height: 25px;
}

/*--------------------------------------------------*/
.container {
    width: 100%;
    height: 100%;
    overflow: scroll;
    font-family: "宋体 Regular", "宋体";
    padding: 0;
    margin: 0;
}

.searchBox {
    padding-top: 6px;
    overflow: hidden;
}

.searchBox:after {
    display: block;
    content: "";
    clear: both;
    height: 0;
    line-height: 0;
}

.searchBox > form > div,
.searchBox > div {
    width: 250px;
    float: left;
    margin: 6px 0 0 13px;
}

.searchBox .inputWrap {

    text-align: right;
}

.searchBox .btnWrap {
    padding-left: 35px;
    text-align: left;
}

.searchValue {
    width: 240px;
    padding-left: 5px;
    height: 22px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
}

.caption {
    font-size: 12px;
    text-rendering: optimizelegibility;
    font-feature-settings: "kern";
    font-kerning: normal;
}

.searchResult {
    width: 100%;
    font-family: "宋体 Regular", "宋体";
    clear: both;
}

.searchResult label {
    font-size: 12px;
    font-weight: lighter;
    text-rendering: optimizelegibility;
    font-feature-settings: "kern";
    font-kerning: normal;
}

.searchResult input[type=text],
.searchResult input[type=number],
.searchResult select {
    height: 22px;
    padding: 0px;
    line-height: 20px;
}

.searchResult input[type=text],
.searchResult input[type=number] {
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
    border-style: ridge;
}

.field {
    border: 1px solid #c0c0c0;
    position: relative;
    padding: 25px 30px 25px 30px;
    height: auto;
    max-width: 1400px;
    margin-bottom: 40px;
    width: 100%;
}

.field .legend {
    position: absolute;
    top: -10px;
    left: 20px;
    z-index: 20;
    font-size: 12px;
    font-weight: bold;
    background: rgb(239, 239, 239);
    opacity: 1;
    padding: 0px 3px;
}

.moneyWarp {
    border: 1px solid #c0c0c0;
    height: auto;
    max-width: 1400px;
    margin-bottom: 20px;
    width: 100%;
    background: #E2E2E2;
    padding: 2px 10px;
}

.moneyWarp .caption {
    font-weight: bold;
}

.money {
    font-size: 18px;
    font-weight: bold;
    text-rendering: optimizelegibility;
    font-feature-settings: "kern";
    font-kerning: normal;
    margin-right: 45px;
    vertical-align: sub;
}

.dgWarp {
    height: auto;
    max-width: 1400px;
    /*margin: 20px 0px;*/
}

.dgTitle {
    font-weight: bold;
    font-size: 12px;
    height: 25px;
    border-bottom: 1.5px inset rgb(212, 212, 212);;
    padding: 4px 10px;
    width: 100%;

}

.dgBox {
    border-top: 0px;
    padding: 15px 10px;
    height: auto;
    width: 100%;
    background: #FFF;
}

.dgToolbar {
    background-color: rgb(231, 231, 231);
    height: 30px;
    border-top: 1px solid rgb(212, 212, 212);
    border-bottom: 0;
    padding: 4px 10px;
    width: 100%;
}

.grid {
    padding: 9px 0;
    margin: 0px;
}

.grid li {
    display: inline-block;
    height: 25px;
}

.grid li:nth-child(odd) {
    line-height: 25px;
    text-align: right;
    width: 80px;
}

.grid li:nth-child(even) {
    margin-right: 12px;
}

.grid select {
    width: 200px;
}

.grid input[type=text] {
    width: 163px;
}

.grid.text li {
    height: auto;
    vertical-align: middle;
}

.playMoney {
    padding: 10px 20px;
    background: #FFF;
}

#repayForm input[type=text] {
    font-size: 12px;
}

.playMoney input[type=text] {
    width: 230px;
    margin-right: 22px;
    font-size: 12px;
}

.playMoney textarea {
    width: 920px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 12px;
    /*margin-left: 8px;*/
}

.disabledText {
    width: 100%;
    background: #EFEFEF;;
    border-style: ridge;
}

.submitBtn {
    text-align: center;
    padding: 3px 2px;
}

.performOperation input[type=radio] {
    margin-right: 3px;
    height: 13px;
    width: 13px;
    vertical-align: text-bottom;
}

.performOperation input[type=text],
.performOperation select {
    height: 20px;
    margin-right: 3px;
    font-size: 12px;
}

.performOperation textarea {
    width: 100%;
    height: 110px;
}

/*上传图片面板*/

.uploadContainer {
    /*background: #c5c6c7;*/
    /*border: 1px solid #cccccc;*/
    margin: 10px 10px 10px 10px;
    padding: 10px;
}

.uploadContainer table {
    width: 100%;
}

.uploadContainer table td {
    height: 50px;
}

.uploadContainer table td:first-child {
    width: 60px;
    text-align: right;
    padding-right: 10px;

}




.cells{
    margin: 10px;
}

.cells .title{
    width: 150px;
    text-align: right;
    padding-right: 8px;
}
.cells .content{
    width: 300px;
    text-align: left;
    line-height: 22px;
    padding: 3px 0;
}
.cells .content>input,
.cells .content>textarea{
    width: 200px;
    border-radius: 5px;
    border: 1px solid rgb(212, 212, 212);
    padding: 3px 0;
}
.cells .content>input:focus{
    -moz-box-shadow: 0 0 3px 0 #D4D4D4;
    -webkit-box-shadow: 0 0 3px 0 #D4D4D4;
    box-shadow: 0 0 3px 0 #D4D4D4;
    outline:none;
}

.cells .content>label{
    height: 25px;
    line-height: 25px;
}






.hk-icon {
    background-position: center left !important;
    padding-left: 20px;
    display: inline-block;
    line-height: 25px;
    vertical-align: middle;
    vertical-align: middle;
    font-size: 12px;
}
.hk-icon.center{
    background-position: center center !important;
}

.hk-icon-add {
    background: url('../images/icon/add.gif') no-repeat center center;
}

.hk-icon-del {
    background: url('../images/icon/del.gif') no-repeat center center;
}

.hk-icon-download {
    background: url('../images/icon/download.png') no-repeat center center;
}

.hk-icon-edit {
    background: url('../images/icon/edit.png') no-repeat center center;
}

.hk-icon-improt {
    background: url('../images/icon/improt.png') no-repeat center center;
}

.hk-icon-logs {
    background: url('../images/icon/logs.png') no-repeat center center;
}

.hk-icon-preview {
    background: url('../images/icon/preview.png') no-repeat center center;
}

.hk-icon-refresh {
    background: url('../images/icon/refresh.png') no-repeat center center;
}

.hk-icon-reset {
    background: url('../images/icon/reset.png') no-repeat center center;
}

.hk-icon-serach {
    background: url('../images/icon/search.png') no-repeat center center;
}

.hk-icon-submit {
    background: url('../images/icon/submit.png') no-repeat center center;
}

.hk-icon-unsure {
    background: url('../images/icon/unsure.png') no-repeat center center;
    background-size: 16px;
}

.hk-icon-ok {
    background: url('../images/icon/ok.png') no-repeat center center;
    background-size: 16px;
}

.hk-icon-close {
    background: url('../images/icon/close.png') no-repeat center center;
    background-size: 16px;
}
.hk-icon-open {
    background: url('../images/icon/open.png') no-repeat center center;
    background-size: 16px;
}
/*MENU-ICON*/

.hk-menu-blacklist {
    background: url('../images/icon/menu_blacklist.png') no-repeat center center;
}

.hk-menu-graylist {
    background: url('../images/icon/menu_graylist.png') no-repeat center center;
}

.hk-menu-search {
    background: url('../images/icon/menu_search.png') no-repeat center center;
}

.hk-menu-task {
    background: url('../images/icon/menu_task.png') no-repeat center center;
}

.hk-menu-vip {
    background: url('../images/icon/menu_vip.png') no-repeat center center;
}

.hk-menu-addTrust {
    background: url('../images/icon/menu_addTrust.png') no-repeat center center;
}

.hk-menu-whitelist {
    background: url('../images/icon/whitelist.png') no-repeat center center;
}


/*��ť*/
/*---------------�Զ��尴ť----------------*/
.hk-btn {
    padding: 2px 4px 2px 22px;
    height: 21px;
    line-height: 15px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    /*-ms-touch-action: manipulation;*/
    /*touch-action: manipulation;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #D4D4D4;
    border-radius: 4px;
    opacity: 1;
    background-color: transparent !important;

    box-shadow: none;
    outline: none;
}


.hk-btn:hover {
    border-color: #bdbdbd;
}

.hk-btn[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}

.hk-btn[disabled]:hover {
    border-color: #D4D4D4;
}

.hk-btn.center {
    background-position: center center !important;
}

.hk-btn.left {
    background-position: 2px center !important;
}

.hk-btn.integrate {
    border: 0;
}

.hk-btn.integrate:hover {
    border: 1px solid #bdbdbd;
    background-color: #c0c0c0;
}

.hk-btn.integrate[disabled]:hover {
    border: 0;
}

.hk-btn.refresh {
    background: url('../images/icon/refresh1.png') no-repeat 3px 2px;
    background-size: 16px 16px;
}

.hk-btn.see {
    background: url('../images/icon/preview.png') no-repeat 3px 2px;
}

.hk-btn.search {
    background: url('../images/icon/search.png') no-repeat 3px 2px;
}

.hk-btn.add {
    background: url('../images/icon/add.gif') no-repeat 3px 2px;
}

.hk-btn.reset {
    background: url('../images/icon/reset.png') no-repeat 3px 2px;
}

.hk-btn.edit {
    background: url('../images/icon/edit.png') no-repeat 3px 0px;
}

.hk-btn.preview {
    background: url('../images/icon/preview.png') no-repeat 3px 3px;
}

.hk-btn.submit {
    background: url('../images/icon/submit.png') no-repeat 3px 1px;
}

/*��չmessager��ͼ��*/
.messager-OK {
    background: url('../images/icon/messager_ok.png') no-repeat scroll 0 0;
    position: relative;
    top: -6px;
}

.hk-modalWait {
    background: #fff url('../images/icon/loading.gif') no-repeat 5px center
}


/*hehheh*/

.datagrid-row-selected a{
    color: #fff;
}












